<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="image-form">
    <div class="field title-field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field url-field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
  </div>
  <div class="image-form-actions">
    <%= f.submit %>
  </div>

<% end %>
